.container-page {
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.container-form_blur {
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}

.container-form {
   /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;*/
    width: 100%;
    z-index: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    /*padding: 15px 25px 15px 25px;*/
    background: rgba(255, 255, 255, 0.7);
    /*border-radius: 50px;*/
}

.container-form .form {

}

.container-chat-form {
    position: fixed;
    left: 0;
    bottom: 0;
}

.container-input {
    position: relative;
    width: 100%;
    z-index: 1;
    /*margin-bottom: 5px;*/
   /* padding-top: 10px;*/
}

.container-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3px;
   /* margin-bottom: 5px;*/

}

.container-messages{
    height: 78%;
    width: 100%;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

@media (min-height: 600px){
    .container-messages {
        height: 80%;
    }
}

@media (min-height: 800px){
    .container-messages {
        height: 85%;
    }
}

@media (min-height: 1200px){
    .container-messages {
        height: 90%;
    }
}

.container-messages::-webkit-scrollbar{
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
.container-messages::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.container-form2 {
   /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;*/
    width: 100%;
    z-index: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    /*padding: 15px 25px 15px 25px;*/
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
}