* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #666666;
    margin: 0px;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.container-page {
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.container-content {
    min-width: 100%;
}

.container-form {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    width: 90%;
    z-index: 1;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
}

.container-chat-form {
    position: fixed;
    left: 0;
    bottom: 0;
}

.form {
    margin-top: 0px;
    min-width: 100%;
}

.container-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 5px;
    padding-top: 10px;
}

.input-name {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    min-width: 100%;
    background: #e6e6e6;
    height: 40px;
    width: inherit;
    border-radius: 25px;
    padding: 0 10px 0 10px;
}

.input-text {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 40px;
    border-radius: 25px;
    padding: 0 10px 0 10px;
}

.container-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 5px;

}

.btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    min-width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-im-girl {
    background: #c850c0;
}

.btn-im-boy {
    background: #4158d0;
}

.btn:hover {
    background: #333333;
}

.name {
    font-size: 13px;
    margin-top: 3%;
    background: #ffd1cc;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 5px 0px 5px;
    width: fit-content;
}

.container-messages {
    height: 76.6%;
    overflow-y: scroll;
    padding-right: 20px;
    overflow-x: hidden;
}

.container-messages::-webkit-scrollbar{
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
.container-messages::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.new-user {
    background: #1f1f1f;
    color: #e6e6e6;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 43px 5px 35px;
    width: fit-content;
    margin: auto;
}

.other-messages {
    background: #fff;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 43px 5px 35px;
    width: fit-content;
}

.my-messages {
    background: #fcbeff;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 43px 5px 35px;
    width: fit-content;
}
