.form {
    margin-top: 0px;
    width: 100%;
}



.input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    padding: 0 10px 0 10px;
}

.input-name {
    width: inherit;
}

.name {
    font-size: 13px;
    margin-top: 3%;
    background: #ffd1cc;
    border-radius: 50px;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    width: fit-content;
}

.new-user {
    background: #1f1f1f;
    color: #e6e6e6;
    border-radius: 50px;
    justify-content: center;
    padding: 5px 43px 5px 35px;
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.other-messages {
    background: #fff;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 43px 5px 35px;
    width: fit-content;
}

.my-messages {
    background: #fcbeff;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 43px 5px 35px;
    width: fit-content;
}

textarea{
    max-height: 11rem;
    min-height: 3rem;
    /*overflow: hidden; */
}

i{
    font-size: 12px;
    float: right;
}

.maxim{

     font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:left;
  
svg{font-weight:bold;    width: 11rem;
    height: 1.5rem;
}
}

img{
        max-width: 18rem;
    max-height: 35rem;
    margin-top:2%;
}

label{
    margin-left: 8px;
    background-image: url("icon/image-outline-36.png");
    background-repeat: no-repeat;
    width: 45px;
    height: 46px;
}
#btnSendImage{
    background: white;
    margin-left: 8px;
    background-image: url("icon/image-outline-36.png");
    background-repeat: no-repeat;
    width: 45px;
    height: 46px;
}



input[type="file"] {
    display: none;
}

.cbalink{
    display: none;
}