.form {
    margin-top: 0px;
    width: 100%;
}



.input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 40px;
    border-radius: 25px;
    padding: 0 10px 0 10px;
}

.input-name {
    width: inherit;
}

.name {
    font-size: 13px;
    margin-top: 3%;
    background: #ffd1cc;
    border-radius: 50px;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    width: fit-content;
}

.new-user {
    background: #1f1f1f;
    color: #e6e6e6;
    border-radius: 50px;
    justify-content: center;
    padding: 5px 43px 5px 35px;
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.other-messages {
    background: #fff;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 43px 5px 35px;
    width: fit-content;
}

.my-messages {
    background: #fcbeff;
    border-radius: 50px;
    justify-content: center;
    padding: 0px 43px 5px 35px;
    width: fit-content;
}
